include ../../library/rangeSlider/rangeSlider.pug

doctype html
html(lang='ru')
	head
		title Range slider
		meta(charset='utf-8')
		meta(content="width=device-width, initial-scale=1" name="viewport")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")
	body
		.one(style="width:300px; margin:auto;margin-bottom:20px;")
		.two(style="width:300px; margin:auto;margin-bottom:20px;")
		.three(style="width:300px; margin:auto;margin-bottom:20px;")
		.four(style="width:300px;height:300px; margin:auto;margin-bottom:20px;")