mixin rangeSlider(text)
		.range-wrapper
			.range__heading
				h3.range__heading-text #{text}
				.range__values
					.range__lower 5 000 &#x20bd; 
					span &nbsp;-&nbsp;
					.range__higher 10 000 &#x20bd;
			.range__slider
				.slider__base
					.slider__left-btn
					.slider__base-hover
					.slider__right-btn